.btn-group.btn-group-sm.btn-group-vertical
  = link_to t('show'), admin_teacher_path(teacher), class: 'btn btn-default'
  = link_to t('edit'), edit_admin_teacher_path(teacher), class: 'btn btn-default'
  = link_to t('destroy'), admin_teacher_path(teacher), data: {confirm: 'Are you sure?', method: :delete}, class: 'btn btn-danger'
