.btn-group.btn-group-sm.btn-group-vertical
  = link_to t('show'), admin_cathedra_path(cathedra), class: 'btn btn-default'
  = link_to t('edit'), edit_admin_cathedra_path(cathedra), class: 'btn btn-default'
  = link_to t('destroy'), admin_cathedra_path(cathedra), data: { confirm: 'Are you sure?', method: :delete}, class: 'btn btn-danger'
