.btn-group.btn-group-sm
  = link_to 'Show', admin_group_path(group), class: 'btn btn-default'
  = link_to 'Edit', edit_admin_group_path(group), class: 'btn btn-default'
  = link_to 'Destroy', admin_group_path(group), method: :delete, confirm: 'Are you sure?', class: 'btn btn-danger'
