@import "font-awesome-sprockets";
@import "font-awesome";
body, html {
  height: 100%;
  background: url('/assets/background.png');
  background-color: #fff;
}

#main {
  min-height: 100%;
  background-color: #fff;
  border-radius: 8px;
  padding: 10px;
}

#user_profile_menu {
  img {
    width: 25px;
    height: 25px;
  }

  li.dropdown {
    min-width: 160px;
  }
}

.day-wrapper {
  display: inline-block;
  float: left;

  h3 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }
  overflow: hidden;
}
.lesson-card {
  background-color: #fff;
  border: 1px solid #eee;
  border-top: 5px solid #ccc;
  margin-bottom: 5px;
  padding: 5px;

  select {
    height: 30px;
    line-height: 18px;
    font-size: 14px;
  }
}
.form-actions {
  border-top: 2px solid #ccc;
  padding-top: 5px;
  margin: 12px;
}

td .subject:nth-child(2) {
  border-top: 2px solid #eee;
}
.subject {
  font-size: 12px;
  .title {
    font-size: 13px;
    font-weight: bold;
  }
}
