body, html {
  height: 100%;
  background: url('/assets/background.png');
  background-color: #fff;
}

#main {
  min-height: 100%;
  background-color: #fff;
  border-radius: 8px;
}

#user_profile_menu {
  img {
    width: 25px;
    height: 25px;
  }

  li.dropdown {
    min-width: 160px;
  }
}

.day-wrapper {
  display: inline-block;
  float: left;
}
.lesson-card {
  background-color: #fff;
  border: 1px solid #eee;
  margin-bottom: 5px;
  padding: 5px;

  select {
    height: 30px;
    line-height: 18px;
    font-size: 14px;
  }
}
